/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

section {
  display: block;
}

/* Color theme variables */

body[dark="true"] {
  --background-color: rgb(30, 30, 30);
  --button-bar-color: rgb(42, 42, 42);
  --button-color: rgb(53, 53, 53);
  --button-enabled-font-color: rgb(212, 212, 212);
  --button-disabled-font-color: rgb(136, 136, 136);;
  --button-hover-color: rgb(74, 74, 74);;
  --border-color: rgb(85, 85, 85);
  --toggle-color: rgb(180, 180, 180);
  --display-light-mode-icon: block;
  --display-dark-mode-icon: none;
}

body[dark="false"] {
  --background-color: rgb(255, 255, 255);
  --button-bar-color: rgb(240, 240, 240);
  --button-color: rgb(228, 228, 228);
  --button-enabled-font-color: rgb(50, 50, 50);
  --button-disabled-font-color: rgb(143, 143, 143);;
  --button-hover-color: rgb(202, 202, 202);;
  --border-color: rgb(132, 132, 132);
  --toggle-color: rgb(99, 99, 99);
  --display-light-mode-icon: none;
  --display-dark-mode-icon: block;
}

/* Layout variables */

body[editor_only="false"] {
  --editor-text-areas-wrapper-resize: horizontal;
  --editor-text-areas-wrapper-width: 70%;
  --editor-text-areas-wrapper-max-width: 70%;
  --editor-text-areas-wrapper-min-width: 30%;
  --editor-text-areas-wrapper-min-width: 30%;
  --editor-text-areas-wrapper-border-right: 2px var(--border-color) solid;
  --editor-wrapper-width: 100%;
  --editor-wrapper-max-width: 100%;
  --editor-wrapper-min-width: 100%;
  --editor-wrapper-height: 85%;
  --editor-wrapper-max-height: 90%;
  --editor-wrapper-min-height: 20%;
  --editor-wrapper-resize: vertical;
  --editor-wrapper-display: block;
  --editor-wrapper-float: none;
  --editor-wrapper-border-right: 0px;
  --editor-wrapper-border-bottom: 1px var(--border-color) solid;
  --output-wrapper-width: 100%;
  --output-wrapper-max-width: 100%;
  --output-wrapper-min-width: 100%;
  --output-wrapper-height: 15%;
  --output-wrapper-max-height: 100%;
  --output-wrapper-min-height: 0%;
  --output-wrapper-display: block;
  --output-wrapper-float: none;
}

body[editor_only="true"][editor_only_mode="horizontal"] {
  --editor-text-areas-wrapper-resize: none;
  --editor-text-areas-wrapper-width: 100%;
  --editor-text-areas-wrapper-max-width: 100%;
  --editor-text-areas-wrapper-min-width: 100%;
  --editor-text-areas-wrapper-border-right: 0px;
  --editor-wrapper-width: 60%;
  --editor-wrapper-max-width: 100%;
  --editor-wrapper-min-width: 0%;
  --editor-wrapper-height: 100%;
  --editor-wrapper-max-height: 100%;
  --editor-wrapper-min-height: 100%;
  --editor-wrapper-resize: horizontal;
  --editor-wrapper-display: inline-block;
  --editor-wrapper-float: left;
  --editor-wrapper-border-right: 1px var(--border-color) solid;
  --editor-wrapper-border-bottom: 0px;
  --output-wrapper-width: 40%;
  --output-wrapper-max-width: 100%;
  --output-wrapper-min-width: 0%;
  --output-wrapper-height: 100%;
  --output-wrapper-max-height: 100%;
  --output-wrapper-min-height: 100%;
  --output-wrapper-display: inline-block;
  --output-wrapper-float: right;
}

body[editor_only="true"][editor_only_mode="vertical"] {
  --editor-text-areas-wrapper-resize: none;
  --editor-text-areas-wrapper-width: 100%;
  --editor-text-areas-wrapper-max-width: 100%;
  --editor-text-areas-wrapper-min-width: 100%;
  --editor-text-areas-wrapper-border-right: 0px;
  --editor-wrapper-width: 100%;
  --editor-wrapper-max-width: 100%;
  --editor-wrapper-min-width: 100%;
  --editor-wrapper-height: 85%;
  --editor-wrapper-max-height: 90%;
  --editor-wrapper-min-height: 20%;
  --editor-wrapper-resize: vertical;
  --editor-wrapper-display: block;
  --editor-wrapper-float: none;
  --editor-wrapper-border-right: 0px;
  --editor-wrapper-border-bottom: 1px var(--border-color) solid;
  --output-wrapper-width: 100%;
  --output-wrapper-max-width: 100%;
  --output-wrapper-min-width: 100%;
  --output-wrapper-height: 15%;
  --output-wrapper-max-height: 100%;
  --output-wrapper-min-height: 0%;
  --output-wrapper-display: block;
  --output-wrapper-float: none;
}

/* CSS Start */

html, body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#monaco_wrapper {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  background-color: var(--background-color);
  resize: var(--editor-text-areas-wrapper-resize);
  width: var(--editor-text-areas-wrapper-width);
  max-width: var(--editor-text-areas-wrapper-max-width);
  min-width: var(--editor-text-areas-wrapper-min-width);
  border-right: var(--editor-text-areas-wrapper-border-right);
}

#monaco_editor_wrapper {
  flex-grow: 1;
  overflow: hidden;
  border-right: var(--editor-wrapper-border-right);
  border-bottom: var(--editor-wrapper-border-bottom);
  float: var(--editor-wrapper-float);
  display: var(--editor-wrapper-display);
  height: var(--editor-wrapper-height);
  width: var(--editor-wrapper-width);
  resize: var(--editor-wrapper-resize);
  max-width: var(--editor-wrapper-max-width);
  min-width: var(--editor-wrapper-min-width);
  max-height: var(--editor-wrapper-max-height);
  min-height: var(--editor-wrapper-min-height);
}

#monaco_output_wrapper {
  flex-grow: 1;
  float: var(--output-wrapper-float);
  display: var(--output-wrapper-display);
  height: var(--output-wrapper-height);
  width: var(--output-wrapper-width);
  max-width: var(--output-wrapper-max-width);
  min-width: var(--output-wrapper-min-width);
  max-height: var(--output-wrapper-max-height);
  min-height: var(--output-wrapper-min-height);
}

#monaco_editor_buttons_bar_wrapper {
  background-color: var(--button-bar-color);
  height: 30px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px var(--border-color) solid;
}

#monaco_editor_buttons_bar {
  display: flex;
  height: 100%;
  width: 480px;
}

.monaco_editor_button {
  white-space: nowrap;
  display: flex;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  font-size: 13px;
  background-color: var(--button-color);
  height: 100%;
  width: 25%;
  padding-right: 7px;
  box-sizing: border-box;
  border: 1px var(--border-color) solid;
  line-height: 200%;
}

.material-symbols-outlined {
  user-select: none;
}

.monaco_editor_button:hover[enabled="true"] {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.monaco_editor_button[enabled="true"] {
  color: var(--button-enabled-font-color);
}

.monaco_editor_button[enabled="false"] {
  color: var(--button-disabled-font-color);
}

.material-symbols-outlined {
  position: relative;
  top: 2px;
}

#monaco_textareas_wrapper {
  overflow: hidden;
  height: calc(100% - 30px)
}

#monaco_editor {
  height: 100%;
  width: 100%;
}

#monaco_output {
  height: 100%;
  width: 100%;
}

#display_toggle {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  right: 0;
  line-height: 30px;
}

#display_toggle:hover {
  cursor: pointer;
}

#dark, #light {
  margin-left: 3px;
  transform: scale(0.8);
}

#dark {
  display: var(--display-dark-mode-icon);
  color: var(--toggle-color);
}

#light {
  display: var(--display-light-mode-icon);
  color: var(--toggle-color);
}