* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

section {
  display: block;
}

body[dark="true"] {
  --background-color: rgb(15, 15, 15);
  --button-bar-color: rgb(42, 42, 42);
  --button-color: rgb(53, 53, 53);
  --button-enabled-font-color: rgb(212, 212, 212);
  --button-disabled-font-color: rgb(136, 136, 136);;
  --button-hover-color: rgb(74, 74, 74);;
  --border-color: rgb(85, 85, 85);
  --toggle-color: rgb(180, 180, 180);
}

body[dark="false"] {
  --background-color: rgb(255, 255, 255);
  --button-bar-color: rgb(240, 240, 240);
  --button-color: rgb(228, 228, 228);
  --button-enabled-font-color: rgb(50, 50, 50);
  --button-disabled-font-color: rgb(143, 143, 143);;
  --button-hover-color: rgb(202, 202, 202);;
  --border-color: rgb(132, 132, 132);
  --toggle-color: rgb(99, 99, 99);
}

html, body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#monaco_wrapper {
  background-color: var(--background-color);
  height: 100%;
  resize: horizontal;
  overflow: auto;
  max-width: 70%;
  min-width: 30%;
  box-sizing: border-box;
  border-right: 2px var(--border-color) solid;
}

#monaco_editor_buttons_bar_wrapper {
  background-color: var(--button-bar-color);
  height: 30px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px var(--border-color) solid;
}

#monaco_editor_buttons_bar {
  display: flex;
  height: 100%;
  width: 480px;
}

.monaco_editor_button {
  white-space: nowrap;
  display: flex;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  font-size: 13px;
  background-color: var(--button-color);
  height: 100%;
  width: 25%;
  padding-right: 7px;
  box-sizing: border-box;
  border: 1px var(--border-color) solid;
}

.material-symbols-outlined {
  user-select: none;
}

.monaco_editor_button:hover[enabled="true"] {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.monaco_editor_button[enabled="true"] {
  color: var(--button-enabled-font-color);
}

.monaco_editor_button[enabled="false"] {
  color: var(--button-disabled-font-color);
}

.material-symbols-outlined {
  position: relative;
  top: 2px;
}

.monaco_editor_button_label {
  position: relative;
  top: 4px;
}

#monaco_textareas_wrapper {
  overflow: hidden;
  height: calc(100% - 30px)
}

#monaco_editor_wrapper {
  flex-grow: 1;
  height: 84%;
  resize: vertical;
  overflow: hidden;
  max-height: 90%;
  min-height: 20%;
  border-bottom: 1px var(--border-color) solid;
}

#monaco_output_wrapper {
  flex-grow: 1;
  height: 100%;
}

#monaco_editor {
  height: 100%;
  width: 100%;
}

#monaco_output {
  height: 100%;
  width: 100%;
}

#display_toggle {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  right: 0;
}

#display_toggle:hover {
  cursor: pointer;
}

#dark, #light {
  margin-top: 2px;
  margin-left: 3px;
  transform: scale(0.8);
}

#dark {
  display: none;
  color: var(--toggle-color);
}

#light {
  color: var(--toggle-color);
}