/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

section {
  display: block;
}

/* Color theme variables */

body[dark="true"] {
  --background-color: rgb(30, 30, 30);
  --button-bar-color: rgb(42, 42, 42);
  --button-color: rgb(53, 53, 53);
  --button-enabled-font-color: rgb(212, 212, 212);
  --button-disabled-font-color: rgb(136, 136, 136);;
  --button-hover-color: rgb(74, 74, 74);;
  --border-color: rgb(85, 85, 85);
  --toggle-color: rgb(180, 180, 180);
  --display-light-mode-icon: block;
  --display-dark-mode-icon: none;
}

body[dark="false"] {
  --background-color: rgb(255, 255, 255);
  --button-bar-color: rgb(240, 240, 240);
  --button-color: rgb(228, 228, 228);
  --button-enabled-font-color: rgb(50, 50, 50);
  --button-disabled-font-color: rgb(143, 143, 143);;
  --button-hover-color: rgb(202, 202, 202);;
  --border-color: rgb(132, 132, 132);
  --toggle-color: rgb(99, 99, 99);
  --display-light-mode-icon: none;
  --display-dark-mode-icon: block;
}

/* Layout variables */

body[editor_only="false"] {
  --test-areas-wrapper-width: 30%;
  --test-areas-wrapper-max-width: 70%;
  --test-areas-wrapper-min-width: 30%;
  --editor-text-areas-wrapper-resize: horizontal;
  --editor-text-areas-wrapper-width: 70%;
  --editor-text-areas-wrapper-max-width: 70%;
  --editor-text-areas-wrapper-min-width: 30%;
  --editor-text-areas-wrapper-border-right: 2px var(--border-color) solid;
  --editor-wrapper-width: 100%;
  --editor-wrapper-max-width: 100%;
  --editor-wrapper-min-width: 100%;
  --editor-wrapper-height: 82%;
  --editor-wrapper-max-height: 90%;
  --editor-wrapper-min-height: 20%;
  --editor-wrapper-resize: vertical;
  --editor-wrapper-display: block;
  --editor-wrapper-float: none;
  --editor-wrapper-border-right: 0px;
  --editor-wrapper-border-bottom: 1px var(--border-color) solid;
  --output-wrapper-width: 100%;
  --output-wrapper-max-width: 100%;
  --output-wrapper-min-width: 100%;
  --output-wrapper-height: 18%;
  --output-wrapper-max-height: 100%;
  --output-wrapper-min-height: 0%;
  --output-wrapper-display: block;
  --output-wrapper-float: none;
  --display-default-layout-icon: block;
  --display-horizontal-layout-icon: none;
  --display-vertical-layout-icon: none;
}

body[editor_only="true"][editor_only_mode="horizontal"] {
  --editor-text-areas-wrapper-resize: none;
  --editor-text-areas-wrapper-width: 100%;
  --editor-text-areas-wrapper-max-width: 100%;
  --editor-text-areas-wrapper-min-width: 100%;
  --editor-text-areas-wrapper-border-right: 0px;
  --editor-wrapper-width: 60%;
  --editor-wrapper-max-width: 100%;
  --editor-wrapper-min-width: 0%;
  --editor-wrapper-height: 100%;
  --editor-wrapper-max-height: 100%;
  --editor-wrapper-min-height: 100%;
  --editor-wrapper-resize: horizontal;
  --editor-wrapper-display: inline-block;
  --editor-wrapper-float: left;
  --editor-wrapper-border-right: 1px var(--border-color) solid;
  --editor-wrapper-border-bottom: 0px;
  --output-wrapper-width: 40%;
  --output-wrapper-max-width: 100%;
  --output-wrapper-min-width: 0%;
  --output-wrapper-height: 100%;
  --output-wrapper-max-height: 100%;
  --output-wrapper-min-height: 100%;
  --output-wrapper-display: inline-block;
  --output-wrapper-float: right;
  --display-default-layout-icon: none;
  --display-horizontal-layout-icon: block;
  --display-vertical-layout-icon: none;
}

body[editor_only="true"][editor_only_mode="vertical"] {
  --editor-text-areas-wrapper-resize: none;
  --editor-text-areas-wrapper-width: 100%;
  --editor-text-areas-wrapper-max-width: 100%;
  --editor-text-areas-wrapper-min-width: 100%;
  --editor-text-areas-wrapper-border-right: 0px;
  --editor-wrapper-width: 100%;
  --editor-wrapper-max-width: 100%;
  --editor-wrapper-min-width: 100%;
  --editor-wrapper-height: 82%;
  --editor-wrapper-max-height: 90%;
  --editor-wrapper-min-height: 20%;
  --editor-wrapper-resize: vertical;
  --editor-wrapper-display: block;
  --editor-wrapper-float: none;
  --editor-wrapper-border-right: 0px;
  --editor-wrapper-border-bottom: 1px var(--border-color) solid;
  --output-wrapper-width: 100%;
  --output-wrapper-max-width: 100%;
  --output-wrapper-min-width: 100%;
  --output-wrapper-height: 18%;
  --output-wrapper-max-height: 100%;
  --output-wrapper-min-height: 0%;
  --output-wrapper-display: block;
  --output-wrapper-float: none;
  --display-default-layout-icon: none;
  --display-horizontal-layout-icon: none;
  --display-vertical-layout-icon: block;
}

/* CSS Start */

html, body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  border: 1px var(--border-color) solid;
}

#tester_area_wrapper {
  width: var(--test-areas-wrapper-width);
  max-width: var(--test-areas-wrapper-max-width);
  min-width: var(--test-areas-wrapper-min-width);
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

#editor_area_wrapper {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--background-color);
  resize: var(--editor-text-areas-wrapper-resize);
  width: var(--editor-text-areas-wrapper-width);
  max-width: var(--editor-text-areas-wrapper-max-width);
  min-width: var(--editor-text-areas-wrapper-min-width);
  border-right: var(--editor-text-areas-wrapper-border-right);
}

#input_wrapper {
  flex-grow: 1;
  overflow: hidden;
  border-right: var(--editor-wrapper-border-right);
  border-bottom: var(--editor-wrapper-border-bottom);
  float: var(--editor-wrapper-float);
  display: var(--editor-wrapper-display);
  height: var(--editor-wrapper-height);
  width: var(--editor-wrapper-width);
  resize: var(--editor-wrapper-resize);
  max-width: var(--editor-wrapper-max-width);
  min-width: var(--editor-wrapper-min-width);
  max-height: var(--editor-wrapper-max-height);
  min-height: var(--editor-wrapper-min-height);
}

#output_wrapper {
  flex-grow: 1;
  overflow: hidden;
  float: var(--output-wrapper-float);
  display: var(--output-wrapper-display);
  height: var(--output-wrapper-height);
  width: var(--output-wrapper-width);
  max-width: var(--output-wrapper-max-width);
  min-width: var(--output-wrapper-min-width);
  max-height: var(--output-wrapper-max-height);
  min-height: var(--output-wrapper-min-height);
}

.buttons_bar {
  background-color: var(--button-bar-color);
  display: flex;
  column-gap: 5px;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px var(--border-color) solid;
}

#editor_buttons, #misc_buttons {
  background-color: var(--button-bar-color);
  display: flex;
  height: 30px;
  padding: 3px;
  padding-bottom: 4px;
  column-gap: 5px;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px var(--border-color) solid;
}

#editor_buttons {
  width: 100%;
}

#misc_buttons {
  position: absolute;
  right: 1px;
  width: 57px;
}

#tester_buttons_bar {
  display: flex;
  height: 30px;
  width: 100%;
  padding: 3px;
}

.bar_button_container {
  display: flex;
  user-select: none;
  padding: 3px;
  color: var(--toggle-color);
  height: 23px;
  width: 23px;
  box-sizing: border-box;
  border-radius: 2px;
}

.bar_button_container:hover[enabled="true"] {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.bar_button_container[enabled="true"] {
  color: var(--button-enabled-font-color);
}

.bar_button_container[enabled="false"] {
  color: var(--button-disabled-font-color);
}

.icon {
  user-select: none;
  width: 17px;
  height: 17px;
}

#input_output_wrapper {
  overflow: hidden;
  height: calc(100% - 30px);
}

#input {
  height: 100%;
  width: 100%;
}

#output {
  height: 100%;
  width: 100%;
}

#dark {
  display: var(--display-dark-mode-icon);
}

#light {
  display: var(--display-light-mode-icon);
}

#default_layout {
  display: var(--display-default-layout-icon);
}

#horizontal_layout {
  display: var(--display-horizontal-layout-icon);
}

#vertical_layout {
  display: var(--display-vertical-layout-icon);
}

select {
  display: inline-block;
  margin: 0;
  padding-left: 4px;
  height: auto;
  width: 200px;
  max-width: calc(100% - 58px);
  background-color: var(--button-bar-color);
  color: var(--button-enabled-font-color);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

option {
  width: 100%;
  font-family: inherit;
}

select:hover, select:focus {
  border-color: var(--toggle-color);
  outline: none;
}